@tailwind base;
@tailwind components;
@tailwind utilities;

.click {
  cursor: pointer;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  -ms-transition: .3s ease all;
  -o-transition: .3s ease all;
}

.click:hover {
  scale: 103%;
}

.click:active {
  scale: 97%;
}